@font-face {
    font-family: hagrid;
    src: url('../assets/font/hagrid/Hagrid-Regular-trial.ttf');
    font-family: Poppins-Italic;
    src: url('../assets/font/Poppins/Poppins-Italic.ttf');
    font-family: Poppins;
    src: url('../assets/font/Poppins/Poppins-Black.ttf');
  }
.garis{
    width: 50%;
    display: flex;
    margin: auto;
}
.badge{
    position: relative;
    margin-top: 20px;
    height: auto;
}
.quotes-container{
    position: relative;
    /* overflow: hidden; */
    box-shadow: 1px 1px 1px 1px rgba(111, 111, 111, 0.074);
    z-index: 2;
    height: auto;
}
#quotes{
    /* position: absolute; */
    width: auto;
    height: auto;
    left: 0;
    /* width: 100%; */
    text-wrap: wrap;
    font-family: Poppins-Italic;
    color: aliceblue;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: x-large;
    mix-blend-mode: difference;
}

.weather-container{
    padding-left: 3px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgba(111, 111, 111, 0.074);
    z-index: 2;
    text-wrap: wrap;
    color: aliceblue;
}
.navbar{
    background-color: rgba(0,0,0,0.3);
    box-shadow: 30px,30px salmon;
}
.heading{
    color: aliceblue;
    font-family: hagrid;
    text-wrap: wrap;
    font-size: 12rem;
    text-shadow: 1px 1px rgb(0, 0, 0);
}