*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: hagrid;
    src: url('../assets/font/hagrid/Hagrid-Regular-trial.ttf');
    font-family: Poppins-Italic;
    src: url('../assets/font/Poppins/Poppins-Italic.ttf');
    font-family: Poppins;
    src: url('../assets/font/Poppins/Poppins-Black.ttf');
  }
.navbar-brand{
    font-family: hagrid;
}
.list-link{
    font-family: Poppins;
    font-style: normal;
    text-decoration: none;
}